@import '../../node_modules/@syncfusion/ej2/material.css';

/* .cus-header{
    height: 50px;
    border: 2px solid tomato;
    margin: 10px;
}

.e-grid .e-gridheader{
    background-color: tomato;
    border: 2px solid gold;
    padding: 10px;
} */
